:root {
  --shadow-color: white;
}

.logo {
  font-size: 20px;
  transform: translate(16%, -110%);
  color: purple;
  text-shadow: 0.02em 0 var(--shadow-color), 0 0.02em var(--shadow-color),
    -0.02em 0 var(--shadow-color), 0 -0.02em var(--shadow-color),
    -0.02em -0.02em var(--shadow-color), -0.02em 0.02em var(--shadow-color),
    0.02em -0.02em var(--shadow-color), 0.02em 0.02em var(--shadow-color);
  background-color: black;
  border: solid 3px white;
  border-radius: 50px;
  pointer-events: none;
  user-select: none;
  z-index: 0;
}
