#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  /* overflow: hidden; */
  /* font-family: 'Poppins', sans-serif; */
}

/* body,
html {
  overflow: hidden;
} */

.nav-button {
  margin-top: 20px;
  font-size: 50px;
  /* outline: auto; */
  border: solid 2px;
  min-width: 150px;
}

.nav-button:hover {
  border-color: purple;
  /* color: purple; */
}

.nav-button:active {
  transform: translate(1%, 1%);
}

.smaller {
  font-size: 20px;
}
